@page "/Courierka"
@using System.Net.Http.Headers
@using GD.Shared.Common
<h3>Courierka</h3>

@if (isCourier)
{
    @foreach (var product in _response!.Products)
    {
        <MudCard>
            <MudCardContent>
                <MudText>@product.ImageValue</MudText> @*todo*@
                <MudText>@product.Name</MudText>
                <MudText Typo="Typo.body2">@product.Description</MudText>
                <MudText Typo="Typo.body2">@product.Tags</MudText>
                <MudText Typo="Typo.body2">@product.Price$</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton OnClick="() => TakeOrder(product.Id)"
                           Variant="Variant.Text"
                           Color="Color.Primary">
                    Take order
                </MudButton>
            </MudCardActions>
        </MudCard>
    }
}
else
{
    <h2>You are not courier</h2>
}

@code {
    bool isCourier = false;
    Response _response = new();

    private async Task TakeOrder(Guid id)
    {
        using var client = _httpClientFactory.CreateClient("api");
        var request = new HttpRequestMessage(HttpMethod.Post, "api/order/take");
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", await _ls.GetItemAsStringAsync("JWT"));
        await client.SendAsync(request);
    }
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await _auth.GetAuthenticationStateAsync();
        var user = authState.User;
        isCourier = user.IsInRole(GDUserRoles.Courier);
        _auth.AuthenticationStateChanged += _ => StateHasChanged();

        if (isCourier)
        {
            using var client = _httpClientFactory.CreateClient("api");
            var request = new HttpRequestMessage(HttpMethod.Get, "api/order/waiting");
            request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", await _ls.GetItemAsStringAsync("JWT"));
            var response = await client.SendAsync(request);
            _response = await response.Content.ReadFromJsonAsync<Response>() ?? new();
        }

        StateHasChanged();
    }

    class ProductResponse
    {
        public Guid Id { get; set; }
        public string Name { get; set; }
        public string Description { get; set; }
        public string Tags { get; set; }
        public string ImageValue { get; set; }
        public double Amount { get; set; }
        public double Price { get; set; }
    }

    class Response
    {
        public string Status { get; set; }
        public List<ProductResponse> Products { get; set; }
    }

}